@import url("../../../../../../../Content/Stilago/LESS/Imports/color.less");
#home > #club {
    .sale-list {
    margin: 0 0 0px -1em;
    min-width: 320px;
        .sale {
            margin-left: 1em;
            padding-top: 1em;
            width: 96%;
            .info {
                .discount-percentage {
                    font-size: 300%;
                    margin-top: 0.18em;
                }
            }
            .banner-container .banner-image {
                width: 100%;
            }
        }
    }
    .promo-banners{
        display: none;
    }
}