@import url("../../../../../../../Content/Stilago/LESS/Imports/color.less");
#home > #club {
     .sale-list {
          margin: 0 0 4px -1em;
          .sale {
               margin-left: 3.3%;
               margin-right: 0;
               padding-top: 1em;
               width: 46.7%;
               .info {
                    .left {
                         float: left;
                         text-align: left;
                         width: 8em;
                    }
                    .end-on {
                         font-size: 80%;
                         margin-left: 0.5em;
                         margin-top: 0.4em;
                         white-space: nowrap;
                    }
                    .discount-percentage {
                        font-size: 210%;
                        margin-top: 0.7em;
                        .percentage-symbol{
                              display: inline-block;
                              font-size: 43%;
                              position: relative;
                              top: -0.53em;
                         }
                    }
               }
               .banner-container {
                    .banner-image{
                         width: 100%;
                    }
               }
          }
     }
    .promo-banners {
          .main-and-announcement-banners {
               float: left;
               width: 100%;
               .carousel-wrapper {
                    height: 210px;
                    position: relative;
                    width: 100%;
                    .carousel, .horizontal{
                         width: 100% !important;
                    }
                    .caroufredsel-wrapper {
                         margin: 0;
                         width: 100% !important;
                    }
                    .pagination{
                        left: 21px;
                        margin: 0.5em 0 0 0;
                    }
                    .carousel.horizontal {
                         li {
                             float: left;
                             width: 100%;
                             a {
                                img {
                                     display: block;
                                     height: 100%;
                                     width: 100%;
                                }
                             }
                         }
                     }
                    .prev {
                         background-image: url("../../../../../../../Content/Stilago/Images/default/arrows/CarouselPrev.png");
                         left: 0;
                         &:hover {
                              background-image: url("../../../../../../../Content/Stilago/Images/default/arrows/CarouselPrev-Active.png");
                         }
                    }
                    
                    .next {
                         background-image: url("../../../../../../../Content/Stilago/Images/default/arrows/CarouselNext.png");
                         right: 0;
                         &:hover {
                              background-image: url("../../../../../../../Content/Stilago/Images/default/arrows/CarouselNext-Active.png");
                         }
                    }
               }
               .announcement-bar {
                    display: none;
               }
          }
          .small-banner {
               display: none;
          }
     }
}