/* Open Sans */

@font-face {
  font-family: "OpenSansBold";
  src:
    url("../../../../Content/stilago/Fonts/OpenSansBold.ttf") format("ttf"),
    url("../../../../Content/stilago/Fonts/OpenSansBold.woff") format("woff"),
    url("../../../../Content/stilago/Fonts/OpenSansBold.otf") format("opentype"),
    url("../../../../Content/stilago/Fonts/OpenSansBold.eot");
}
@font-face {
  font-family: "OpenSansRegular";
  src:
    url("../../../../Content/stilago/Fonts/OpenSansRegular.ttf") format("ttf"),
    url("../../../../Content/stilago/Fonts/OpenSansRegular.woff") format("woff"),
    url("../../../../Content/stilago/Fonts/OpenSansRegular.otf") format("opentype"),
    url("../../../../Content/stilago/Fonts/OpenSansRegular.eot");
}