#corporate-header {
  border-bottom: solid 5px #ebe9e7;
  padding-top: 20px;
  font-size: 92%;
}
#corporate-header a:hover {
  text-decoration: underline;
}
#corporate-header .logo-wrap {
  border-bottom: solid 1px #eeeeee;
  padding-bottom: 20px;
}
#corporate-header .logo-wrap .logo-stilago {
  width: 153px;
  height: 52px;
  float: left;
  background: url("/Content/Stilago/Images/Corporate/LogoStilagoDarkBig.png") no-repeat top left;
}
#corporate-header .spacer-25 {
  padding-bottom: 25px;
}
#corporate-header .nav {
  text-align: right;
  padding-top: 1.8em;
}
#corporate-header .nav ul {
  font-family: 'OpenSansRegular', Arial;
  text-transform: uppercase;
}
#corporate-header .nav ul li {
  display: inline-block;
}
#corporate-header .nav ul li a {
  display: block;
  padding: 0 .8em;
  font-size: 98%;
}
#corporate-header .nav ul li:last-child a {
  padding-right: 0;
}
#corporate-header .main-carousel {
  margin-bottom: 20px;
  width: 900px;
  height: 300px;
  clear: both;
}
#corporate-header .main-carousel img {
  display: block;
}
#corporate-header .intro-text {
  font-size: 165%;
  line-height: 1.2em;
  font-family: 'OpenSansRegular', Arial;
  text-align: center;
}
#corporate-header .countries-text {
  text-align: center;
  margin: 1.9em 0 0.9em 0;
  font-family: Arial;
}
#corporate-header .countries-text li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 90%;
}
#corporate-header .countries-text li:before {
  content: " � ";
}
#corporate-header .countries-text li:first-child:before {
  content: none;
}
#corporate-header .flags {
  margin: 0 auto;
  display: block;
  text-align: center;
}
#corporate-header .flags a {
  text-indent: -9000px;
  display: block;
}
#corporate-header .flags li {
  margin: 0 .1em;
  display: inline-block;
  width: 25px;
  height: 17px;
  background: url("/Content/Stilago/Images/Corporate/SpriteFlags.png") no-repeat;
}
#corporate-header .flags .flag-BG {
  background-position: 0 -204px;
}
#corporate-header .flags .flag-BY {
  background-position: 0 -187px;
}
#corporate-header .flags .flag-CZ {
  background-position: 0 -17px;
}
#corporate-header .flags .flag-EE {
  background-position: 0 -136px;
}
#corporate-header .flags .flag-GR {
  background-position: 0 -170px;
}
#corporate-header .flags .flag-HU {
  background-position: 0 -221px;
}
#corporate-header .flags .flag-LT {
  background-position: 0 -119px;
}
#corporate-header .flags .flag-LV {
  background-position: 0 -153px;
}
#corporate-header .flags .flag-PL {
  background-position: 0 -102px;
}
#corporate-header .flags .flag-RO {
  background-position: 0 -51px;
}
#corporate-header .flags .flag-RU {
  background-position: 0 0;
}
#corporate-header .flags .flag-SI {
  background-position: 0 -68px;
}
#corporate-header .flags .flag-SK {
  background-position: 0 -85px;
}
#corporate-header .flags .flag-UA {
  background-position: 0 -34px;
}
#corporate-footer {
  padding: 35px 0;
  min-width: 900px;
  font-size: 92%;
  color: white;
  background: #36281f;
}
#corporate-footer a:hover {
  text-decoration: underline;
}
#corporate-footer .flags {
  text-align: left;
}
#corporate-footer .impressum {
  float: left;
  width: 50%;
}
#corporate-footer .impressum li {
  margin-right: 0.5em;
  float: left;
}
#corporate > #index {
  padding-top: 36px;
  font-size: 92%;
}
#corporate > #index a:hover {
  text-decoration: underline;
}
#corporate > #index .section {
  margin-bottom: 25px;
  color: #38281f;
}
#corporate > #index .spacer-15 {
  padding: 10px 0 25px;
  display: inline-block;
}
#corporate > #index .col-2 {
  width: 50%;
  float: left;
}
#corporate > #index .col-3 {
  width: 246px;
  float: left;
  padding-left: 80px;
}
#corporate > #index .col-3.first {
  padding-left: 0;
}
#corporate > #index .align-right {
  text-align: right;
}
#corporate > #index h2 {
  border-bottom: solid 1px #ebe9e7;
  font-size: 140%;
  color: #5c5857;
  text-transform: uppercase;
  margin-bottom: 1.7em;
}
#corporate > #index h2 a {
  text-decoration: none;
  cursor: default;
}
#corporate > #index h2 a:hover {
  text-decoration: none;
}
#corporate > #index h2 span {
  border-bottom: solid 1px #e67538;
  display: inline-block;
  padding: 0 0 .5em 0;
}
#corporate > #index h3 {
  font-size: 130%;
  color: #382e24;
  margin: .8em 0 .3em 0;
}
#corporate > #index p {
  line-height: 1.55em;
}
#corporate > #index .our-partners .carousel-wrapper {
  position: relative;
}
#corporate > #index .our-partners .carousel-wrapper .arrow {
  position: absolute;
  top: 88px;
  width: 24px;
  height: 24px;
  background: url("/Content/Stilago/Images/Corporate/SpriteArrows.gif") no-repeat 0 0;
}
#corporate > #index .our-partners .carousel-wrapper .arrow.next {
  right: 0;
  background-position: 0 -24px;
}
#corporate > #index .our-partners .carousel-wrapper .carousel li {
  margin-right: 5px;
  text-align: center;
}
#corporate > #index .our-partners .carousel-wrapper .carousel li h3 {
  font-weight: 600;
  margin-top: .8em;
}
#corporate > #index .contact .purchasing-offices {
  margin-bottom: 1em;
}
#corporate > #index .contact .partners-email {
  margin-bottom: 1em;
  display: block;
}
#corporate > #index .contact ul li {
  display: inline-block;
  text-transform: uppercase;
}
#corporate > #index .contact ul li:before {
  content: " � ";
}
#corporate > #index .contact ul li:first-child:before {
  content: none;
}
