@import url("../../../../../../../Content/Stilago/LESS/Imports/color.LESS");
#home > #club {
    .promo-banners
    {
      .main-and-announcement-banners
      {
        float: left;
        width: 100%;
        .announcement-bar
        {
          height: 27px;
          margin-bottom: 10px;
          overflow: hidden;
          width: 99%;
          display: none; 
        }
        .carousel-wrapper {
          height: 200px;
          position: relative;
          width: 100%;
            .prev{
                background-image: url("../../../../../../../Content/Stilago/Images/default/arrows/CarouselPrev.png");
                left: 0;
                &:hover{
                    background-image: url("../../../../../../../Content/Stilago/Images/default/arrows/CarouselPrev-Active.png");
                }
            }
            .next {
                background-image: url("../../../../../../../Content/Stilago/Images/default/arrows/CarouselNext.png");
                right: 0;
                &:hover{
                    background-image: url("../../../../../../../Content/Stilago/Images/default/arrows/CarouselNext-Active.png");
                }
            }
        }
      }
      
    }
    .small-banner {
      float: left;
      height: 22.85em;
      margin-left: 0em;
      width: 34%;
      display: none;
      .banner-name {
          width: 100%;
          padding: 0px;
      }
    }
    .sale-list {
      margin: 0 0 4px -1em;
      text-align: left;
      .sale
      {
        float: left;
        letter-spacing: normal;
        margin-left: 2.2%;
        padding-top: 1em;
        vertical-align: top;
        word-spacing: normal;
        width: 47.7%;
        margin-right: 0em;
        .banner-container {
          display: block;
          height: auto !important;
          position: relative;
        }
        .info {
          background: none repeat scroll 0 0 @Color-Club-brown;
          color: @Color-Txt-white;
          overflow: hidden;
          width: 100%;
          .left {
            float: left;
            text-align: left;
            width: 10em;
          }
          .end-on {
            font-size: 80%;
            margin-left: 0.5em;
            margin-top: 0.4em;
            white-space: nowrap;
          }
          .discount-percentage {
            display: block;
            font-family: 'OpenSansBold';
            font-size: 280%;
            font-weight: bold;
            line-height: 1em;
            margin-right: 0.13em;
            margin-top: 0.18em;
          }
        }
        .banner-container
        {
          display: block;
          position: relative;
          width: 100%;
        }
      }
    }
}